html{
	font-size: 12px;
}
*{
	margin: 0;
	line-height: 1;
	box-sizing: border-box;
}
a, img, button{
	display: block;
}
a{
	text-decoration: none;
}
ul{
	padding-left: 0;
	list-style-type: none;
}
body{
	background-color: #171E38;
}
.wrap{
	width: 100%;
	display: flex;
}
.sidebar{
	width: 6.25%;
}
.wrapper{
	width: 93.75%;
}
.container{
	display: flex;
}

/* Header */

header{
	height: 107px;
}
header .wrap{
	height: 100%;
	align-items: center;
}
.left-side {
	display: flex;
	align-items: center;
	width: 51.46%;
}
.burger {
	margin: 0 6.34% 0 3.78%;
	width: 4.05%;
	height: 34.87px;
	cursor: pointer;
}
.burger__bar {
	width: 100%;
	height: 3px;
	display: flex;
}
.burger__circle {
	width: 6px;
	height: 4px;
	border-radius: 2px;
	background-color: #fff;
	margin-right: 4px;
}
.burger__line {
	width: calc(100% - 10px);
	height: 4px;
	border-radius: 2px;
	background-color: #fff;
}
.burger__bar.central{
	margin: 11.43px 0;
}
.logo {
	font-size: 2.5rem;
	line-height: 3rem;
	font-family: lato;
	font-weight: bold;
	color: #fff;
}
.right-side {
	display: flex;
	align-items: center;
	width: 48.54%;
}
.menu__block {
	width: 53.1%;
	margin-right: 8.33%;
}
.menu {
	display: flex;
	justify-content: space-between;
}
.menu__link {
	color: #637280;
	font-family: Lato;
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 1.9rem;
	transition: all 0.3s ease;	
}
.menu__link:hover {
	color: #fff;
}
.active__link{
	color: #fff;
}
.search__block {
	display: flex;
	width: 22.17%;
	border-bottom: 1px solid #707070;
	color: #fff;
	padding-bottom: 0.5rem;
	justify-content: space-between;
}
.icon-search {
	font-size: 1.44rem;
	margin-right: 5px;
}
.search__input {
	width: 89%;
	border: none;
	background: transparent;
	color: #fff;
	font-size: 1rem;
	font-family: lato;
}
.search__input:focus{
	outline: none;
}
/* Header */


/* Sidebar */
.wrap {}
.sidebar {
	width: 6.25%;
	background-color: #212840;
	padding-top: 6.9rem;
}
.buttons {}
.button__block {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6rem;
	font-size: 2rem;
	transition: all 0.3s ease;
	border-radius: 0px 5px 5px 0px;
}
.button__block__active {
	background-color: #0077FF;
}
.button__block:hover {
	background-color: #0077FF;
}
.icon-population-1 {}
.icon-plug {}
.icon-chartIcon {}
.icon-handsShake {}
.icon-co2 {}
.main {
	width: 93.75%;
}

/* Sidebar */

/* Header section */
.header__section {
	display: flex;
}
.header__img {
	width: 33.2%;
}
.header__info__block {
	width: 66.8%;
	padding-left: 2%;
	position: relative;
}
.header__title__block {
	display: flex;
	margin-top: 3.6rem;
}
.header__title {
	font-size: 3.5rem;
	line-height: 4.1rem;
	font-family: Roboto;
	font-weight: bold;
	color: #fff;
}
.flag {
	align-self: center;
	width: 4.5rem;
	margin-left: 1.5rem;
}
.subtitle {
	font-size: 2rem;
	line-height: 2.3rem;
	color: rgba(255, 255, 255, 0.5);
	font-family: Roboto;
	font-weight: normal;
}
.container {}
.header__map__block {
	width: 24.09%;
}
.map__img {
	margin-top: 4.14rem;
	width: 86.2%;
	margin-left: 13.8%;
	height: auto;
}
.header__text__block {
	width: 68.69%;
	margin-left: 7.22%;
}
.main__info {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 1.6rem;
	margin-bottom: 3.8rem;
	color: #fff;
}
.main__info p { 
	line-height: 1.9rem;
}
.header__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.6rem;
	color: #fff;
	width: 88.7%;
}
.header__text p{
	line-height: 2rem;
}
.header__time__block {
	position: absolute;
	top: 4.5rem;
	right: 3.9rem;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 3rem;
	text-align: right;
	color: #fff;
}
.time__info {
	line-height: 3.7rem;
}
.temperature__info {
	line-height: 3.7rem;
}
/* Header section */
.inner-main{
	width: 85.19%;
	padding: 0 2.2rem 0 2.7rem;
}
.right-sidebar{
	width: 14.3%;
}
/* right sidebar */
.right-sidebar__title__block {
	display: flex;
	align-items: center;
}
.right-sidebar__title__block img{
	width: 1.9rem;
	margin-right: 1.45rem;
}
.right-sidebar__title {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 2.3rem;
	line-height: 2.8rem;
	color: #fff;
}
.twitter__posts__block {
	padding: 0.9rem 0.6rem 0 0.7rem;
	background-color: #212840;
}
.twitter__post__block {
	background-color: #171E38;
	padding: 1.3rem 0.9rem 0 0.3rem;
	display: flex;
	justify-content: space-between;
}
.avatar__block {
	width: 4.16rem;
}
.avatar__block img{
	width: 100%;
	border-radius: 50%;
}
.post__info {
	width: 76%;
}
.user__name {}
.user__contact {}
.post__text {}













@media screen and (max-width: 1440px){
	html{
		font-size: 10px;
	}
}